<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Todo List</title>
  <script src="js/vue.js"></script>
<style>
  input {
    display: block;
    margin: 10px 0;
  }
</style>
</head>
<body>
  <div id="todo-list">
    {{ nombre }}

    <input type="text" v-model="nuevaTarea" placeholder="Introduce la nueva tarea">

    <input type="button" value="Nueva Tarea" @click="guardarTarea(nuevaTarea)">

    <ul>
      <li v-for="tarea in tareas ">
        <a href="#" @click="eliminarTarea(tarea)">X</a>
        {{ tarea.nombre }}
      </li>
    </ul>

    <pre>
      {{ $data | json }}
    </pre>
  </div>
  <script src="js/todolist.js"></script>
</body>
</html>